@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Playfair Display', serif;
}

/* h1, h2 {
  font-family: 'Manrope', serif;
} */

button {
  transition: all 0.2s ease-in-out;
}

input, select {
  transition: all 0.2s ease;
}